<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="DKimDomain" value="" />
    <add key="DKimPrivateKey" value="" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="acastiglia@gmail.com">
        <network host="smtp.gmail.com" port="465" userName="acastiglia@gmail.com" password="Sanguineti1" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.diagnostics>
    <trace autoflush="true"/>
  </system.diagnostics>

</configuration>