<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="Entities" connectionString="data source=localhost;initial catalog=SBM;user id=sbm;password=password;App=SBM" providerName="System.Data.SqlClient" />-->
    <add name="Entities" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\local.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="SBM.Component.log" type="System.Diagnostics.TextWriterTraceListener" initializeData="SBM.Component.log" traceOutputOptions="ProcessId, ThreadId, DateTime"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
