<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TransferSection" type="Transfer.Config, Transfer" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PARALLEL" value="0" />
    <add key="COMMAND_TIMEOUT" value="120"/>
    <add key="BATCH_SIZE" value="500" />
  </appSettings>
  <TransferSection>
    <Source Connection="Provider=SQLOLEDB;Data Source=10.146.137.106;Initial Catalog=SICAE2SQL;User ID=sa;Password=AXAsql24191" />
    <Target Connection="Data Source=10.146.137.106;Initial Catalog=sicae;User ID=sa;Password=AXAsql24191" />
    <Items>
      <Item Name="servicios" TargetTable="servicios" TargetAutoCreate="true" SourceSQL="select producto,subprod,nro_serv,tarjeta,paterno,nro_doc,estado,tipo_doc from servicios">
        <Mapping>
          <Field Source="producto"    Target="PRODUCTO"    Type="char(2)" />
          <Field Source="subprod"    Target="SUBPROD"    Type="char(20)" />
          <Field Source="nro_serv" Target="NRO_SERV" Type="char(15)" />
          <Field Source="tarjeta" Target="TARJETA" Type="char(50)" />
          <Field Source="paterno" Target="PATERNO" Type="char(50)" />
          <Field Source="nro_doc" Target="NRO_DOC" Type="char(15)" />
          <Field Source="estado" Target="ESTADO" Type="char(1)" />
          <Field Source="tipo_doc" Target="TIPO_DOC" Type="char(1)" />
        </Mapping>
      </Item>
    </Items>
  </TransferSection>
</configuration>