<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TransferSection" type="Transfer.Config, Transfer" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="PARALLEL" value="4" />
    <add key="COMMAND_TIMEOUT" value="0"/>
    <add key="BATCH_SIZE" value="500" />
  </appSettings>

  <!-- IMPORTACION AMEXWK -->
  <TransferSection>

    <Source Connection="Provider=SQLOLEDB;Data Source=10.146.137.106;Initial Catalog=SICAE2SQL;User ID=sa;Password=AXAsql24191" />

    <Target Connection="Data Source=10.146.137.106;Initial Catalog=amexwk;User ID=sa;Password=AXAsql24191" />

    <Items>
      <Item Name="FXDomicilio" TargetTable="FXDomicilio" TargetAutoCreate="true" SourceSQL="select producto,subprod,nro_serv,email_1,email_2,distribucion from domicilios">
        <Mapping>
          <Field Source="producto" Target="Producto" Type="char(2)" />
          <Field Source="subprod" Target="SubProducto" Type="char(5)" />
          <Field Source="nro_serv" Target="Nro_Servicio" Type="char(15)" />
          <Field Source="email_1" Target="Email1" Type="char(50)" />
          <Field Source="email_2" Target="Email2" Type="char(50)" />
          <Field Source="distribucion" Target="Distribuci" Type="char(1)" />
        </Mapping>
      </Item>
      <Item Name="domicilios" TargetTable="domicilios" TargetAutoCreate="true" SourceSQL="select producto,subprod,nro_serv,direccion,localidad,provincia,pais,cod_postal,telefono_1,telefono_2,fax,distribucion,direc_alt,local_alt,provin_alt,pais_alt,codpos_alt,telef1_alt,telef2_alt,fax_alt,email_1,email_2 from domicilios">
        <Mapping>
          <Field Source="producto" Target="producto" Type="varchar(2)" />
          <Field Source="subprod" Target="subprod" Type="varchar(5)" />
          <Field Source="nro_serv" Target="nro_serv" Type="varchar(15)" />
          <Field Source="direccion" Target="direccion" Type="varchar(60)" />
          <Field Source="localidad" Target="localidad" Type="varchar(30)" />
          <Field Source="provincia" Target="provincia" Type="varchar(30)" />
          <Field Source="pais" Target="pais" Type="varchar(3)" />
          <Field Source="cod_postal" Target="cod_postal" Type="varchar(10)" />
          <Field Source="telefono_1" Target="telefono_1" Type="varchar(15)" />
          <Field Source="telefono_2" Target="telefono_2" Type="varchar(15)" />
          <Field Source="fax" Target="fax" Type="varchar(15)" />
          <Field Source="distribucion" Target="distribucion" Type="char(1)" />
          <Field Source="direc_alt" Target="direc_alt" Type="varchar(60)" />
          <Field Source="local_alt" Target="local_alt" Type="varchar(30)" />
          <Field Source="provin_alt" Target="provin_alt" Type="varchar(30)" />
          <Field Source="pais_alt" Target="pais_alt" Type="varchar(3)" />
          <Field Source="codpos_alt" Target="codpos_alt" Type="varchar(10)" />
          <Field Source="telef1_alt" Target="telef1_alt" Type="varchar(15)" />
          <Field Source="telef2_alt" Target="telef2_alt" Type="varchar(15)" />
          <Field Source="fax_alt" Target="fax_alt" Type="varchar(15)" />
          <Field Source="email_1" Target="email_1" Type="varchar(50)" />
          <Field Source="email_2" Target="email_2" Type="varchar(50)" />
        </Mapping>
      </Item>
      <Item Name="servicios" TargetTable="fxservicio" TargetAutoCreate="true" SourceSQL="select producto,subprod,nro_serv,nombre,paterno,sexo,nro_doc,estado from servicios">
        <Mapping>
          <Field Source="producto" Target="Producto" Type="char(2)" />
          <Field Source="subprod" Target="SubProducto" Type="char(5)" />
          <Field Source="nro_serv" Target="Nro_Servicio" Type="char(15)" />
          <Field Source="nombre" Target="Nombre" Type="char(50)" />
          <Field Source="paterno" Target="Paterno" Type="char(50)" />
          <Field Source="sexo" Target="Sexo" Type="char(1)" />
          <Field Source="nro_doc" Target="Nro_Doc" Type="char(15)" />
          <Field Source="estado" Target="Estado" Type="char(1)" />
        </Mapping>
      </Item>
<!--
      <Item Name="productos" TargetTable="productos" TargetAutoCreate="true" SourceSQL="select producto,descrip,tipo_prod,prox_nro,letra_ini,fecha,ult_letra,nro_bkp1,nro_bkp2,nro_bkp3,nro_bkp4,nro_bkp6,nro_bkp9,nro_bkp10 from productos">
        <Mapping>
          <Field Source="producto"  Target="producto"  Type="varchar(2)" />
          <Field Source="descrip"   Target="descrip"   Type="varchar(30)" />
          <Field Source="tipo_prod" Target="tipo_prod" Type="varchar(2)" />
          <Field Source="prox_nro"  Target="prox_nro"  Type="decimal(10,0)" />
          <Field Source="letra_ini" Target="letra_ini" Type="char(1)" />
          <Field Source="fecha"     Target="fecha"     Type="smalldatetime" />
          <Field Source="ult_letra" Target="ult_letra" Type="char(1)" />
          <Field Source="nro_bkp1"  Target="nro_bkp1"  Type="varchar(10)" />
          <Field Source="nro_bkp2"  Target="nro_bkp2"  Type="varchar(10)" />
          <Field Source="nro_bkp3"  Target="nro_bkp3"  Type="varchar(10)" />
          <Field Source="nro_bkp4"  Target="nro_bkp4"  Type="varchar(10)" />
          <Field Source="nro_bkp6"  Target="nro_bkp6"  Type="varchar(10)" />
          <Field Source="nro_bkp9"  Target="nro_bkp9"  Type="varchar(10)" />
          <Field Source="nro_bkp10" Target="nro_bkp10" Type="varchar(10)" />
        </Mapping>
      </Item>
-->      
      <Item Name="subproduc" TargetTable="subproduc"  TargetAutoCreate="true" SourceSQL="select producto,subprod,descrip,establec,precio_1,precio_2,precio_3,precio_4,cancelable,transferible,acepta_tran,vta_inicial,moneda,tipo_cambio,cambio_fijo,tipo_cred,contrato,transf_a,facturac,cargo,cod_penal from subproduc">
        <Mapping>
          <Field Source="producto"     Target="producto"     Type="varchar(2)" />
          <Field Source="subprod"      Target="subprod"      Type="varchar(5)" />
          <Field Source="descrip"      Target="descrip"      Type="varchar(30)" />
          <Field Source="establec"     Target="establec"     Type="varchar(10)" />
          <Field Source="precio_1"     Target="precio_1"     Type="decimal(9,2)" />
          <Field Source="precio_2"     Target="precio_2"     Type="decimal(9,2)" />
          <Field Source="precio_3"     Target="precio_3"     Type="decimal(9,2)" />
          <Field Source="precio_4"     Target="precio_4"     Type="decimal(9,2)" />
          <Field Source="cancelable"   Target="cancelable"   Type="char(1)" />
          <Field Source="transferible" Target="transferible" Type="char(1)" />
          <Field Source="acepta_tran"  Target="acepta_tran"  Type="char(1)" />
          <Field Source="vta_inicial"  Target="vta_inicial"  Type="char(1)" />
          <Field Source="moneda"       Target="moneda"       Type="varchar(3)" />
          <Field Source="tipo_cambio"  Target="tipo_cambio"  Type="char(1)" />
          <Field Source="cambio_fijo"  Target="cambio_fijo"  Type="decimal(11,4)" />
          <Field Source="tipo_cred"    Target="tipo_cred"    Type="int" />
          <Field Source="contrato"     Target="contrato"     Type="varchar(10)" />
          <Field Source="transf_a"     Target="transf_a"     Type="varchar(80)" />
          <Field Source="facturac"     Target="facturac"     Type="varchar(2)" />
          <Field Source="cargo"        Target="cargo"        Type="char(1)" />
          <Field Source="cod_penal"    Target="cod_penal"    Type="decimal(1,0)" />
        </Mapping>
      </Item>
    </Items>
  </TransferSection>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>

</configuration>