<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TransferSection" type="Transfer.Config, Transfer" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="PARALLEL" value="4" />
    <add key="COMMAND_TIMEOUT" value="0"/>
    <add key="BATCH_SIZE" value="500" />
  </appSettings>

  <!-- IMPORTACION AMEXWK -->
  <TransferSection>

    <Source Connection="Provider=vfpoledb;Data Source=\\10.146.137.116\e\Sicae\sicaedb.dbc" NetDomain="10.146.137.116" NetUser="administrator" NetPassword="Pendorcho1" />

    <Target Connection="Data Source=10.146.137.106;Initial Catalog=SICAE2SQL;User ID=sa;Password=AXAsql24191" />

    <Items>
      <Item Name="arch_aea" SourceSQL="select * from [arch_aea]" TargetTable="arch_aea" TargetAutoCreate="true" />
      <Item Name="arch_aea1" SourceSQL="select * from [arch_aea1]" TargetTable="arch_aea1" TargetAutoCreate="true" />
      <Item Name="arch_aen" SourceSQL="select * from [arch_aen]" TargetTable="arch_aen" TargetAutoCreate="true" />
      <Item Name="arch_aen1" SourceSQL="select * from [arch_aen1]" TargetTable="arch_aen1" TargetAutoCreate="true" />
      <Item Name="autos" SourceSQL="select * from [autos]" TargetTable="autos" TargetAutoCreate="true" />
      <Item Name="barcod" SourceSQL="select * from [barcod]" TargetTable="barcod" TargetAutoCreate="true" />
      <Item Name="cab_via_tmp2" SourceSQL="select * from [cab_via_tmp2]" TargetTable="cab_via_tmp2" TargetAutoCreate="true" />
      <Item Name="cambio" SourceSQL="SELECT iif(fecha_vig &lt; {^1753-01-01}, {}, fecha_vig),cambio,f_alta,h_alta,usuario FROM cambio" TargetTable="cambio" TargetAutoCreate="true" />
      <Item Name="cambio_tarj" SourceSQL="select * from [cambio_tarj]" TargetTable="cambio_tarj" TargetAutoCreate="true" />
      <Item Name="cancelac" SourceSQL="SELECT nro_can,nro_serv,tarjeta,producto,subprod,estado,fec_cancel,iif(fec_vigen &lt; {^1753-01-01}, {}, fec_vigen) as fec_vigen,observac,fec_proc,hora_proc,genera_nc,fec_nc,id_usuar FROM cancelac" TargetTable="cancelac" TargetAutoCreate="true" />
      <Item Name="cc_cab" SourceSQL="select * from [cc_cab]" TargetTable="cc_cab" TargetAutoCreate="true" />
      <Item Name="cc_cab1997" SourceSQL="SELECT nro_cc,codigo,letra,iif(fec_cc &lt; {^1753-01-01}, {}, fec_cc) as fec_cc,tarjeta,nombre,direccion,localidad,cod_postal,provincia,telefono_1,iva,cuit,anula,subtotal,tot_nac,tot_ext,tot_iva,total,coef_iva,tipo_doc,nro_doc,fec_anula,nro_cai,vto_cai FROM cc_cab1997" TargetTable="cc_cab1997" TargetAutoCreate="true" />
      <Item Name="cc_cab1998" SourceSQL="select * from [cc_cab1998]" TargetTable="cc_cab1998" TargetAutoCreate="true" />
      <Item Name="cc_cab1999" SourceSQL="select * from [cc_cab1999]" TargetTable="cc_cab1999" TargetAutoCreate="true" />
      <Item Name="cc_cab2000" SourceSQL="select * from [cc_cab2000]" TargetTable="cc_cab2000" TargetAutoCreate="true" />
      <Item Name="cc_cab2001" SourceSQL="select * from [cc_cab2001]" TargetTable="cc_cab2001" TargetAutoCreate="true" />
      <Item Name="cc_cab2002" SourceSQL="select * from [cc_cab2002]" TargetTable="cc_cab2002" TargetAutoCreate="true" />
      <Item Name="cc_cab2003" SourceSQL="select * from [cc_cab2003]" TargetTable="cc_cab2003" TargetAutoCreate="true" />
      <Item Name="cc_cab2004" SourceSQL="select * from [cc_cab2004]" TargetTable="cc_cab2004" TargetAutoCreate="true" />
      <Item Name="cc_cab2005" SourceSQL="select * from [cc_cab2005]" TargetTable="cc_cab2005" TargetAutoCreate="true" />
      <Item Name="cc_cab2006" SourceSQL="select * from [cc_cab2006]" TargetTable="cc_cab2006" TargetAutoCreate="true" />
      <Item Name="cc_cab2007" SourceSQL="select * from [cc_cab2007]" TargetTable="cc_cab2007" TargetAutoCreate="true" />
      <Item Name="cc_cab2008" SourceSQL="select * from [cc_cab2008]" TargetTable="cc_cab2008" TargetAutoCreate="true" />
      <Item Name="cc_cab2009" SourceSQL="select * from [cc_cab2009]" TargetTable="cc_cab2009" TargetAutoCreate="true" />
      <Item Name="cc_cab2010" SourceSQL="select * from [cc_cab2010]" TargetTable="cc_cab2010" TargetAutoCreate="true" />
      <Item Name="cc_cab2011" SourceSQL="select * from [cc_cab2011]" TargetTable="cc_cab2011" TargetAutoCreate="true" />
      <Item Name="cc_cab2012" SourceSQL="select * from [cc_cab2012]" TargetTable="cc_cab2012" TargetAutoCreate="true" />
      <Item Name="cc_cab2013" SourceSQL="select * from [cc_cab2013]" TargetTable="cc_cab2013" TargetAutoCreate="true" />
      <Item Name="cc_cab2014" SourceSQL="select * from [cc_cab2014]" TargetTable="cc_cab2014" TargetAutoCreate="true" />
      <Item Name="cc_cab2015" SourceSQL="select * from [cc_cab2015]" TargetTable="cc_cab2015" TargetAutoCreate="true" />
      <Item Name="cc_det" SourceSQL="select * from [cc_det]" TargetTable="cc_det" TargetAutoCreate="true" />
      <Item Name="cc_det1997" SourceSQL="select * from [cc_det1997]" TargetTable="cc_det1997" TargetAutoCreate="true" />
      <Item Name="cc_det1998" SourceSQL="select * from [cc_det1998]" TargetTable="cc_det1998" TargetAutoCreate="true" />
      <Item Name="cc_det1999" SourceSQL="select * from [cc_det1999]" TargetTable="cc_det1999" TargetAutoCreate="true" />
      <Item Name="cc_det2000" SourceSQL="select * from [cc_det2000]" TargetTable="cc_det2000" TargetAutoCreate="true" />
      <Item Name="cc_det2001" SourceSQL="select * from [cc_det2001]" TargetTable="cc_det2001" TargetAutoCreate="true" />
      <Item Name="cc_det2002" SourceSQL="select * from [cc_det2002]" TargetTable="cc_det2002" TargetAutoCreate="true" />
      <Item Name="cc_det2003" SourceSQL="select * from [cc_det2003]" TargetTable="cc_det2003" TargetAutoCreate="true" />
      <Item Name="cc_det2004" SourceSQL="select * from [cc_det2004]" TargetTable="cc_det2004" TargetAutoCreate="true" />
      <Item Name="cc_det2005" SourceSQL="select * from [cc_det2005]" TargetTable="cc_det2005" TargetAutoCreate="true" />
      <Item Name="cc_det2006" SourceSQL="select * from [cc_det2006]" TargetTable="cc_det2006" TargetAutoCreate="true" />
      <Item Name="cc_det2007" SourceSQL="select * from [cc_det2007]" TargetTable="cc_det2007" TargetAutoCreate="true" />
      <Item Name="cc_det2008" SourceSQL="select * from [cc_det2008]" TargetTable="cc_det2008" TargetAutoCreate="true" />
      <Item Name="cc_det2009" SourceSQL="select * from [cc_det2009]" TargetTable="cc_det2009" TargetAutoCreate="true" />
      <Item Name="cc_det2010" SourceSQL="select * from [cc_det2010]" TargetTable="cc_det2010" TargetAutoCreate="true" />
      <Item Name="cc_det2011" SourceSQL="select * from [cc_det2011]" TargetTable="cc_det2011" TargetAutoCreate="true" />
      <Item Name="cc_det2012" SourceSQL="select * from [cc_det2012]" TargetTable="cc_det2012" TargetAutoCreate="true" />
      <Item Name="cc_det2013" SourceSQL="select * from [cc_det2013]" TargetTable="cc_det2013" TargetAutoCreate="true" />
      <Item Name="cc_det2014" SourceSQL="select * from [cc_det2014]" TargetTable="cc_det2014" TargetAutoCreate="true" />
      <Item Name="cc_det2015" SourceSQL="select * from [cc_det2015]" TargetTable="cc_det2015" TargetAutoCreate="true" />
      <Item Name="clientes" SourceSQL="select * from [clientes]" TargetTable="clientes" TargetAutoCreate="true" />
      <Item Name="cod_credeb" SourceSQL="select * from [cod_credeb]" TargetTable="cod_credeb" TargetAutoCreate="true" />
      <Item Name="cod_estado" SourceSQL="select * from [cod_estado]" TargetTable="cod_estado" TargetAutoCreate="true" />
      <Item Name="cod_items" SourceSQL="select * from [cod_items]" TargetTable="cod_items" TargetAutoCreate="true" />
      <Item Name="cod_parent" SourceSQL="select * from [cod_parent]" TargetTable="cod_parent" TargetAutoCreate="true" />
      <Item Name="comp_aseg" SourceSQL="select * from [comp_aseg]" TargetTable="comp_aseg" TargetAutoCreate="true" />
      <Item Name="cond_iva" SourceSQL="select * from [cond_iva]" TargetTable="cond_iva" TargetAutoCreate="true" />
      <Item Name="control_sec" SourceSQL="select * from [control_sec]" TargetTable="control_sec" TargetAutoCreate="true" />
      <Item Name="cont_dupli" SourceSQL="select * from [cont_dupli]" TargetTable="cont_dupli" TargetAutoCreate="true" />
      <Item Name="cpprov" SourceSQL="select * from [cpprov]" TargetTable="cpprov" TargetAutoCreate="true" />
      <Item Name="creditos" SourceSQL="select * from [creditos]" TargetTable="creditos" TargetAutoCreate="true" />
      <Item Name="cred_cc" SourceSQL="select * from [cred_cc]" TargetTable="cred_cc" TargetAutoCreate="true" />
      <Item Name="cred_cc_tmp" SourceSQL="select * from [cred_cc_tmp]" TargetTable="cred_cc_tmp" TargetAutoCreate="true" />
      <Item Name="cred_vta" SourceSQL="select * from [cred_vta]" TargetTable="cred_vta" TargetAutoCreate="true" />
      <Item Name="cred_vta_tmp" SourceSQL="select * from [cred_vta_tmp]" TargetTable="cred_vta_tmp" TargetAutoCreate="true" />
      <Item Name="cuenta_grid" SourceSQL="select * from [cuenta_grid]" TargetTable="cuenta_grid" TargetAutoCreate="true" />
      <Item Name="cuot_dupli" SourceSQL="select * from [cuot_dupli]" TargetTable="cuot_dupli" TargetAutoCreate="true" />
      <Item Name="curcab" SourceSQL="select * from [curcab]" TargetTable="curcab" TargetAutoCreate="true" />
      <Item Name="curdet" SourceSQL="select * from [curdet]" TargetTable="curdet" TargetAutoCreate="true" />
      <Item Name="dac" SourceSQL="select * from [dac]" TargetTable="dac" TargetAutoCreate="true" />
      <Item Name="dac1202" SourceSQL="select * from [dac1202]" TargetTable="dac1202" TargetAutoCreate="true" />
      <Item Name="dac1997" SourceSQL="select * from [dac1997]" TargetTable="dac1997" TargetAutoCreate="true" />
      <Item Name="dac1998" SourceSQL="select * from [dac1998]" TargetTable="dac1998" TargetAutoCreate="true" />
      <Item Name="dac1999" SourceSQL="select * from [dac1999]" TargetTable="dac1999" TargetAutoCreate="true" />
      <Item Name="dac2000" SourceSQL="select * from [dac2000]" TargetTable="dac2000" TargetAutoCreate="true" />
      <Item Name="dac2001" SourceSQL="select * from [dac2001]" TargetTable="dac2001" TargetAutoCreate="true" />
      <Item Name="dac2002" SourceSQL="select * from [dac2002]" TargetTable="dac2002" TargetAutoCreate="true" />
      <Item Name="dac2003" SourceSQL="select * from [dac2003]" TargetTable="dac2003" TargetAutoCreate="true" />
      <Item Name="dac2004" SourceSQL="select * from [dac2004]" TargetTable="dac2004" TargetAutoCreate="true" />
      <Item Name="dac2005" SourceSQL="select * from [dac2005]" TargetTable="dac2005" TargetAutoCreate="true" />
      <Item Name="dac2006" SourceSQL="select * from [dac2006]" TargetTable="dac2006" TargetAutoCreate="true" />
      <Item Name="dac2007" SourceSQL="select * from [dac2007]" TargetTable="dac2007" TargetAutoCreate="true" />
      <Item Name="dac2008" SourceSQL="select * from [dac2008]" TargetTable="dac2008" TargetAutoCreate="true" />
      <Item Name="dac2009" SourceSQL="select * from [dac2009]" TargetTable="dac2009" TargetAutoCreate="true" />
      <Item Name="dac2010" SourceSQL="select * from [dac2010]" TargetTable="dac2010" TargetAutoCreate="true" />
      <Item Name="dac2011" SourceSQL="select * from [dac2011]" TargetTable="dac2011" TargetAutoCreate="true" />
      <Item Name="dac2012" SourceSQL="SELECT establec,tarjeta,cod_serv,nro_serv,frec_deb,per_fact,val(str(monto)) as monto,literal,estado,plan_pag,cod_prod,producto,resultado,tarj_mod,mes FROM dac2012" TargetTable="dac2012" TargetAutoCreate="true" />
      <Item Name="dac2013" SourceSQL="SELECT establec,tarjeta,cod_serv,nro_serv,frec_deb,per_fact,val(str(monto)) as monto,literal,estado,plan_pag,cod_prod,producto,resultado,tarj_mod,mes FROM dac2013" TargetTable="dac2013" TargetAutoCreate="true" />
      <Item Name="dac2014" SourceSQL="SELECT establec,tarjeta,cod_serv,nro_serv,frec_deb,per_fact,val(str(monto)) as monto,literal,estado,plan_pag,cod_prod,producto,resultado,tarj_mod,mes FROM dac2014" TargetTable="dac2014" TargetAutoCreate="true" />
      <Item Name="dac2015" SourceSQL="SELECT establec,tarjeta,cod_serv,nro_serv,frec_deb,per_fact,val(str(monto)) as monto,literal,estado,plan_pag,cod_prod,producto,resultado,tarj_mod,mes FROM dac2015" TargetTable="dac2015" TargetAutoCreate="true" />
      <Item Name="dac_control" SourceSQL="select * from [dac_control]" TargetTable="dac_control" TargetAutoCreate="true" />
      <Item Name="dac_dupli" SourceSQL="select * from [dac_dupli]" TargetTable="dac_dupli" TargetAutoCreate="true" />
      <Item Name="dac_dupli_cuot" SourceSQL="select * from [dac_dupli_cuot]" TargetTable="dac_dupli_cuot" TargetAutoCreate="true" />
      <Item Name="dac_dupli_fin" SourceSQL="select * from [dac_dupli_fin]" TargetTable="dac_dupli_fin" TargetAutoCreate="true" />
      <Item Name="dac_polizas" SourceSQL="select * from [dac_polizas]" TargetTable="dac_polizas" TargetAutoCreate="true" />
      <Item Name="dac_resul" SourceSQL="select * from [dac_resul]" TargetTable="dac_resul" TargetAutoCreate="true" />
      <Item Name="dac_salida" SourceSQL="SELECT establec,tarjeta,cod_serv,nro_serv,frec_deb,per_fact,val(str(monto)) as monto,literal,estado,plan_pag,cod_prod,producto FROM dac_salida" TargetTable="dac_salida" TargetAutoCreate="true" />
      <Item Name="de70a95_renov0109" SourceSQL="select * from [de70a95_renov0109]" TargetTable="de70a95_renov0109" TargetAutoCreate="true" />
      <Item Name="debitos" SourceSQL="select * from [debitos]" TargetTable="debitos" TargetAutoCreate="true" />
      <Item Name="distribucion" SourceSQL="select * from [distribucion]" TargetTable="distribucion" TargetAutoCreate="true" />
      <Item Name="domicilios" SourceSQL="select * from [domicilios]" TargetTable="domicilios" TargetAutoCreate="true" />
      <Item Name="empr_corp" SourceSQL="select * from [empr_corp]" TargetTable="empr_corp" TargetAutoCreate="true" />
      <Item Name="fback2" SourceSQL="select * from [fback2]" TargetTable="fback2" TargetAutoCreate="true" />
      <Item Name="fback3" SourceSQL="select * from [fback3]" TargetTable="fback3" TargetAutoCreate="true" />
      <Item Name="fbacke2" SourceSQL="select * from [fbacke2]" TargetTable="fbacke2" TargetAutoCreate="true" />
      <Item Name="fbacke3" SourceSQL="select * from [fbacke3]" TargetTable="fbacke3" TargetAutoCreate="true" />
      <Item Name="gest_pend" SourceSQL="select * from [gest_pend]" TargetTable="gest_pend" TargetAutoCreate="true" />
      <Item Name="hist_domi" SourceSQL="select * from [hist_domi]" TargetTable="hist_domi" TargetAutoCreate="true" />
      <Item Name="hist_serv" SourceSQL="select * from [hist_serv]" TargetTable="hist_serv" TargetAutoCreate="true" />
      <Item Name="idiomas" SourceSQL="select * from [idiomas]" TargetTable="idiomas" TargetAutoCreate="true" />
      <Item Name="ios_proc" SourceSQL="select * from [ios_proc]" TargetTable="ios_proc" TargetAutoCreate="true" />
      <Item Name="memos" SourceSQL="select * from [memos]" TargetTable="memos" TargetAutoCreate="true" />
      <Item Name="menu_eng" SourceSQL="select * from [menu_eng]" TargetTable="menu_eng" TargetAutoCreate="true" />
      <Item Name="menu_esp" SourceSQL="select * from [menu_esp]" TargetTable="menu_esp" TargetAutoCreate="true" />
      <Item Name="moneda" SourceSQL="select * from [moneda]" TargetTable="moneda" TargetAutoCreate="true" />
      <Item Name="mot_cancel" SourceSQL="select * from [mot_cancel]" TargetTable="mot_cancel" TargetAutoCreate="true" />
      <Item Name="mot_compra" SourceSQL="select * from [mot_compra]" TargetTable="mot_compra" TargetAutoCreate="true" />
      <Item Name="paises" SourceSQL="select * from [paises]" TargetTable="paises" TargetAutoCreate="true" />
      <Item Name="param_ctrol" SourceSQL="select * from [param_ctrol]" TargetTable="param_ctrol" TargetAutoCreate="true" />
      <Item Name="penal" SourceSQL="select * from [penal]" TargetTable="penal" TargetAutoCreate="true" />
      <Item Name="percon" SourceSQL="select * from [percon]" TargetTable="percon" TargetAutoCreate="true" />
      <Item Name="plan_pago" SourceSQL="select * from [plan_pago]" TargetTable="plan_pago" TargetAutoCreate="true" />
      <Item Name="platinum" SourceSQL="select * from [platinum]" TargetTable="platinum" TargetAutoCreate="true" />
      <Item Name="precios" SourceSQL="select * from [precios]" TargetTable="precios" TargetAutoCreate="true" />
      <Item Name="productos" SourceSQL="select * from [productos]" TargetTable="productos" TargetAutoCreate="true" />
      <Item Name="provincias" SourceSQL="select * from [provincias]" TargetTable="provincias" TargetAutoCreate="true" />
      <Item Name="reactivac" SourceSQL="select * from [reactivac]" TargetTable="reactivac" TargetAutoCreate="true" />
      <Item Name="resdac0404" SourceSQL="select * from [resdac0404]" TargetTable="resdac0404" TargetAutoCreate="true" />
      <Item Name="resul_dac" SourceSQL="select * from [resul_dac]" TargetTable="resul_dac" TargetAutoCreate="true" />
      <Item Name="rp_control" SourceSQL="select * from [rp_control]" TargetTable="rp_control" TargetAutoCreate="true" />
      <Item Name="servicios" SourceSQL="SELECT tarjeta,producto,subprod,nro_serv,tiene_asist,es_titular,nombre,paterno,materno,iif(fec_nacim &lt; {^1753-01-01}, {}, fec_nacim) as fec_nacim,sexo,tipo_doc,nro_doc,vig_dde,vig_hta,fec_viaje,fec_alta,hora_alta,id_usuar,obra_social,plan_pag,plan,credencial,importe,estado,cuota,ult_debaut,travel,observ,factura,tipo_fac,cliente,fec_fact,mot_com,mot_can,empresa,amex_int,welk_pack,prox_planp,renovado,inout,controlreg,tipo_solic,val(str(precio)) as precio,val(str(cambio)) as cambio,cod_parent,coef_iva,f_vto_tar FROM servicios" TargetTable="servicios" TargetAutoCreate="true" />
      <Item Name="subproduc" SourceSQL="select * from [subproduc]" TargetTable="subproduc" TargetAutoCreate="true" />
      <Item Name="tarj_prod" SourceSQL="select * from [tarj_prod]" TargetTable="tarj_prod" TargetAutoCreate="true" />
      <Item Name="tipo_cambio" SourceSQL="select * from [tipo_cambio]" TargetTable="tipo_cambio" TargetAutoCreate="true" />
      <Item Name="tipo_cred" SourceSQL="select * from [tipo_cred]" TargetTable="tipo_cred" TargetAutoCreate="true" />
      <Item Name="tipo_docum" SourceSQL="select * from [tipo_docum]" TargetTable="tipo_docum" TargetAutoCreate="true" />
      <Item Name="tipo_producto" SourceSQL="select * from [tipo_producto]" TargetTable="tipo_producto" TargetAutoCreate="true" />
      <Item Name="tmppa" SourceSQL="select * from [tmppa]" TargetTable="tmppa" TargetAutoCreate="true" />
      <Item Name="tmp_tta" SourceSQL="select * from [tmp_tta]" TargetTable="tmp_tta" TargetAutoCreate="true" />
      <Item Name="travel_rep" SourceSQL="select * from [travel_rep]" TargetTable="travel_rep" TargetAutoCreate="true" />
      <Item Name="usuarios" SourceSQL="select * from [usuarios]" TargetTable="usuarios" TargetAutoCreate="true" />


      <!-- INFO: Tablas no incluidas en el Diccionario: Cannot resolve backlink. 
			<Item Name="cc_cab2015_old" SourceSQL="select * from [cc_cab2015_old]" TargetTable="cc_cab2015_old" TargetAutoCreate="true" />
			<Item Name="cc_det2015_old" SourceSQL="select * from [cc_det2015_old]" TargetTable="cc_det2015_old" TargetAutoCreate="true" />
			<Item Name="itemsdecl" SourceSQL="select * from [itemsdecl]" TargetTable="itemsdecl" TargetAutoCreate="true" />
			<Item Name="items_decl" SourceSQL="select * from [items_decl]" TargetTable="items_decl" TargetAutoCreate="true" />
			<Item Name="items_declproblemadac" SourceSQL="select * from [items_declproblemadac]" TargetTable="items_declproblemadac" TargetAutoCreate="true" />
			<Item Name="items_decl_old" SourceSQL="select * from [items_decl_old]" TargetTable="items_decl_old" TargetAutoCreate="true" />
			<Item Name="menu_esp1" SourceSQL="select * from [menu_esp1]" TargetTable="menu_esp1" TargetAutoCreate="true" />
			<Item Name="preciosproblemadac" SourceSQL="select * from [preciosproblemadac]" TargetTable="preciosproblemadac" TargetAutoCreate="true" />			
			<Item Name="precios_old" SourceSQL="select * from [precios_old]" TargetTable="precios_old" TargetAutoCreate="true" />			
			<Item Name="serviciosproblemadac" SourceSQL="select * from [serviciosproblemadac]" TargetTable="serviciosproblemadac" TargetAutoCreate="true" />			
			<Item Name="servicios_old" SourceSQL="select * from [servicios_old]" TargetTable="servicios_old" TargetAutoCreate="true" />			
			<Item Name="subproducprecioviejo" SourceSQL="select * from [subproducprecioviejo]" TargetTable="subproducprecioviejo" TargetAutoCreate="true" />
			-->
    </Items>
  </TransferSection>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>

</configuration>