<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TransferSection" type="SBM.Transfer.Config, SBM.Transfer" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="PARALLEL" value="4" />
    <add key="COMMAND_TIMEOUT" value="0"/>
    <add key="BATCH_SIZE" value="500" />
  </appSettings>

  <!-- IMPORTACION AMEXWK -->
  <TransferSection>

    <Source Connection="Provider=vfpoledb;Data Source=\\10.146.5.230\e\Sicae\sicaedb.dbc" NetDomain="10.146.5.230" NetUser="administrator" NetPassword="Pendorcho1" />

    <Target Connection="Data Source=.\INSTANCE2;Initial Catalog=dele;User ID=sa;Password=password" />
    <!-- SQLAfter="EXEC RecreateIDX" SQLBefore="EXEC DropIDX" /> -->

    <Items>
      <!--
			<Item Name="autos" SourceSQL="select * from [autos]" TargetTable="autos" TargetAutoCreate="false" />
			<Item Name="cambio" SourceSQL="SELECT iif(fecha_vig &lt; {^1753-01-01}, {}, fecha_vig),cambio,f_alta,h_alta,usuario FROM cambio" TargetTable="cambio" TargetAutoCreate="true" />
			<Item Name="cambio_tarj" SourceSQL="SELECT PRODUCTO, SUBPROD, alltrim(NRO_SERV) AS NRO_SERV, LEFT(TARJ_ANT, 6) + 'XXXXX' + RIGHT(TARJ_ANT, 4) AS TARJ_ANT, LEFT(TARJ_ACT, 6) + 'XXXXX' + RIGHT(TARJ_ACT, 4) AS TARJ_ACT, FEXP_ANT, FEXP_ACT, FECHA, ORIGEN FROM [cambio_tarj]" TargetTable="cambio_tarj" TargetAutoCreate="true" />
			<Item Name="cancelac" SourceSQL="SELECT NRO_CAN, alltrim(NRO_SERV) AS NRO_SERV, LEFT(TARJETA, 6) + 'XXXXX' + RIGHT(TARJETA, 4) AS TARJETA, PRODUCTO, SUBPROD, ESTADO, FEC_CANCEL, iif(fec_vigen &lt; {^1753-01-01}, {}, fec_vigen) as fec_vigen, OBSERVAC, FEC_PROC, HORA_PROC, GENERA_NC, FEC_NC, ID_USUAR FROM cancelac" TargetTable="cancelac" TargetAutoCreate="false" />
			<Item Name="cc_cab2016" SourceSQL="SELECT NRO_CC, CODIGO, LETRA, FEC_CC, LEFT(TARJETA, 6) + 'XXXXX' + RIGHT(TARJETA, 4) AS TARJETA, NOMBRE, DIRECCION, LOCALIDAD, COD_POSTAL, PROVINCIA, TELEFONO_1, IVA, CUIT, ANULA, SUBTOTAL, TOT_NAC, TOT_EXT, TOT_IVA, TOTAL, COEF_IVA, TIPO_DOC, NRO_DOC, NRO_CAI, VTO_CAI, FEC_ANULA FROM [cc_cab2016]" TargetTable="cc_cab2016" TargetAutoCreate="true" />
			<Item Name="cc_det2016" SourceSQL="select NRO_CC, CODIGO, LETRA, LEFT(TARJETA, 6) + 'XXXXX' + RIGHT(TARJETA, 4) AS TARJETA, PRODUCTO, SUBPROD, alltrim(NRO_SERV) AS NRO_SERV, IMP_NAC, IMP_EXT, IMP_DET, PLAN_PAG, ANULA, MES_ANIO FROM [cc_det2016]" TargetTable="cc_det2016" TargetAutoCreate="true" />
			<Item Name="clientes" SourceSQL="select * from [clientes]" TargetTable="clientes" TargetAutoCreate="true" />
			<Item Name="cod_credeb" SourceSQL="select * from [cod_credeb]" TargetTable="cod_credeb" TargetAutoCreate="true" />
			<Item Name="cod_estado" SourceSQL="select * from [cod_estado]" TargetTable="cod_estado" TargetAutoCreate="true" />
			<Item Name="cod_items" SourceSQL="select * from [cod_items]" TargetTable="cod_items" TargetAutoCreate="true" />
			<Item Name="cod_parent" SourceSQL="select * from [cod_parent]" TargetTable="cod_parent" TargetAutoCreate="true" />
			<Item Name="comp_aseg" SourceSQL="select * from [comp_aseg]" TargetTable="comp_aseg" TargetAutoCreate="true" />
			<Item Name="cond_iva" SourceSQL="select * from [cond_iva]" TargetTable="cond_iva" TargetAutoCreate="true" />
			<Item Name="control_sec" SourceSQL="select * from [control_sec]" TargetTable="control_sec" TargetAutoCreate="true" />
			<Item Name="cred_cc" SourceSQL="select * from [cred_cc]" TargetTable="cred_cc" TargetAutoCreate="true" />
			<Item Name="creditos" SourceSQL="SELECT * FROM [creditos]" TargetTable="creditos" TargetSQLAfter="update creditos set tarjeta = LEFT(tarjeta, 6) + 'XXXXX' + RIGHT(tarjeta, 4)" TargetAutoCreate="true" />
			<Item Name="dac2016" SourceSQL="SELECT ESTABLEC, LEFT(TARJETA, 6) + 'XXXXX' + RIGHT(TARJETA, 4) AS TARJETA, COD_SERV, alltrim(NRO_SERV) AS NRO_SERV, FREC_DEB, PER_FACT, val(str(monto)) as monto, LITERAL, ESTADO, PLAN_PAG, COD_PROD, PRODUCTO, RESULTADO, LEFT(TARJ_MOD, 6) + 'XXXXX' + RIGHT(TARJ_MOD, 4) AS TARJ_MOD, MES FROM [dac2016]" TargetTable="dac2016" TargetAutoCreate="true" />
			<Item Name="dac_control" SourceSQL="select * from [dac_control]" TargetTable="dac_control" TargetAutoCreate="true" />
			<Item Name="dac_polizas" SourceSQL="select * from [dac_polizas]" TargetTable="dac_polizas" TargetAutoCreate="true" />
			<Item Name="dac_resul" SourceSQL="SELECT ESTABLEC, LEFT(TARJETA, 6) + 'XXXXX' + RIGHT(TARJETA, 4) AS TARJETA, COD_SERV, alltrim(NRO_SERV) AS NRO_SERV, FREC_DEB, PER_FACT, val(str(monto)) as monto, LITERAL, COD_ERR, LEFT(TARJ_ORIG, 6) + 'XXXXX' + RIGHT(TARJ_ORIG, 4) AS TARJ_ORIG FROM [dac_resul]" TargetTable="dac_resul" TargetAutoCreate="true" />
			<Item Name="dac_salida" SourceSQL="SELECT ESTABLEC, LEFT(TARJETA, 6) + 'XXXXX' + RIGHT(TARJETA, 4) AS TARJETA, COD_SERV, alltrim(NRO_SERV) AS NRO_SERV, FREC_DEB, PER_FACT, val(str(monto)) as monto, LITERAL, ESTADO, PLAN_PAG, COD_PROD, PRODUCTO FROM dac_salida" TargetTable="dac_salida" TargetAutoCreate="true" />
			<Item Name="distribucion" SourceSQL="select * from [distribucion]" TargetTable="distribucion" TargetAutoCreate="true" />
			-->
      <Item Name="domicilios" SourceSQL="select * from [domicilios]" TargetTable="domicilios" TargetAutoCreate="true" />
      <!--
			<Item Name="moneda" SourceSQL="select * from [moneda]" TargetTable="moneda" TargetAutoCreate="true" />
			<Item Name="mot_cancel" SourceSQL="select * from [mot_cancel]" TargetTable="mot_cancel" TargetAutoCreate="true" />
			<Item Name="mot_compra" SourceSQL="select * from [mot_compra]" TargetTable="mot_compra" TargetAutoCreate="true" />
			<Item Name="paises" SourceSQL="select * from [paises]" TargetTable="paises" TargetAutoCreate="true" />
			<Item Name="plan_pago" SourceSQL="select * from [plan_pago]" TargetTable="plan_pago" TargetAutoCreate="true" />
			<Item Name="param_ctrol" SourceSQL="select * from [param_ctrol]" TargetTable="param_ctrol" TargetAutoCreate="true" />
			<Item Name="precios" SourceSQL="select * from [precios]" TargetTable="precios" TargetAutoCreate="true" />
			<Item Name="productos" SourceSQL="select * from [productos]" TargetTable="productos" TargetAutoCreate="true" />
			<Item Name="provincias" SourceSQL="select * from [provincias]" TargetTable="provincias" TargetAutoCreate="true" />
			<Item Name="rp_control" SourceSQL="select * from [rp_control]" TargetTable="rp_control" TargetAutoCreate="true" />
			<Item Name="servicios" SourceSQL="SELECT LEFT(TARJETA, 6) + 'XXXXX' + RIGHT(TARJETA, 4) AS TARJETA,producto,subprod,alltrim(nro_serv) AS NRO_SERV,tiene_asist,es_titular,nombre,paterno,materno,iif(fec_nacim &lt; {^1753-01-01}, {}, fec_nacim) as fec_nacim,sexo,tipo_doc,nro_doc,vig_dde,vig_hta,fec_viaje,fec_alta,hora_alta,id_usuar,obra_social,plan_pag,plan,credencial,importe,estado,cuota,ult_debaut,travel,observ,factura,tipo_fac,cliente,fec_fact,mot_com,mot_can,empresa,amex_int,welk_pack,prox_planp,renovado,inout,controlreg,tipo_solic,val(str(precio)) as precio,val(str(cambio)) as cambio,cod_parent,coef_iva,f_vto_tar FROM servicios" TargetTable="servicios" TargetAutoCreate="false" />
			<Item Name="subproduc" SourceSQL="select * from [subproduc]" TargetTable="subproduc" TargetAutoCreate="true" />
			<Item Name="tarj_prod" SourceSQL="select * from [tarj_prod]" TargetTable="tarj_prod" TargetAutoCreate="true" />
			<Item Name="tipo_cambio" SourceSQL="select * from [tipo_cambio]" TargetTable="tipo_cambio" TargetAutoCreate="true" />
			<Item Name="tipo_cred" SourceSQL="select * from [tipo_cred]" TargetTable="tipo_cred" TargetAutoCreate="true" />
			<Item Name="tipo_docum" SourceSQL="select * from [tipo_docum]" TargetTable="tipo_docum" TargetAutoCreate="true" />
			<Item Name="tipo_producto" SourceSQL="select * from [tipo_producto]" TargetTable="tipo_producto" TargetAutoCreate="true" />
			<Item Name="usuarios" SourceSQL="select * from [usuarios]" TargetTable="usuarios" TargetAutoCreate="true" />
			-->
    </Items>
  </TransferSection>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>

</configuration>